.container-detailsale header{
    background-color: #cd0f3f;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-detailsale header p{
    font-size: 20px;
    margin-top: 10px;
}

.container-detailsale header button{
    position: absolute;
    left: 20px;
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    transition: 0.6s;
}

.container-detailsale .box-list{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-height: 580px;
    overflow-y: auto;
}

.container-detailsale header button:hover{
    background-color: white;
    color: #cd0f3f;
    border: 1px solid #ed0e46;
}

.container-detailsale table {
    border-collapse: collapse;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
}

.container-detailsale th, td {
    padding: 8px;
    text-align: center;
    font-weight: 100;
    border-bottom: 1px solid #cd0f3f;
}

.container-detailsale th{
    border-radius: 10px 10px 0 0;
}

.container-detailsale thead {
    background-color: #cd0f3f;
    color: white;
}

.container-detailsale tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container-detailsale .total-sale{
    position: absolute;
    right: 75px;
    display: flex;
    margin-top: 20px;
    background-color: #cd0f3f;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.container-detailsale .total-sale p{
    font-size: 20px;
}

@media(max-width:600px){
    .container-detailsale header button{
        left: 10px;
        top: 10px; 
    }

    .container-detailsale .total-sale{
        right: 15px;
    }

    .container-detailsale table{
        font-size: 16px;
    }
}
