.container-additem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-additem header{
    background-color: #cd0f3f;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-additem header p{
    font-size: 20px;
}

.container-additem .info-item{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-additem h2{
    text-align: center;
    margin-bottom: 15px; 
    font-weight: 100;
}

.container-additem .info-item input{
    padding: 8px;
    border: 1px solid #cd0f3f;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-additem .info-item button{
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #cd0f3f;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    transition: 0.5s;
}

.container-additem .info-item button:hover{
    background-color: #cd0f3e85;
}

@media(max-width:600px){
    .container-additem .info-item{
        width: 90%;
    }
}
