@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(241, 235, 235);
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 100;
}

button{
    cursor: pointer;
}